* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;

  color: white;

  background-image: url(./bg-eSports.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #121214;

  --gradient: linear-gradient(90deg, #be72fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  --bg-section: hsl(257, 16%, 18%);
}

#wrapper {
  margin: auto;
  max-width: 58rem;
  width: 90%;
}

/* === HEADER ======= */

header#img-profile {
  margin-top: 3.2rem;
  animation: fromTopToBottom 0.8s;
}

#border-gradient {
  width: 12rem;
  height: 12rem;
  margin: auto;
  border-radius: 50%;
  background: var(--gradient);

  transition: transform 0.3s;
}

header div#border-gradient:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
}

/* === NAVIGATION ======= */

nav {
  margin-block: 4rem;
  display: flex;
  justify-content: space-between;

  animation: fromTopToBottom .8s;
}

nav div {
  background: var(--gradient);
  padding: .2rem;
  border-radius: .8rem;

  cursor: pointer;
  transition: transform .3s;
}

nav button {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;

  padding: 1rem 2rem;
  background: var(--bg-section);
  border: 0;
  border-radius: .8rem;

  cursor: pointer;
}

nav div:hover {
  transform: translateY(-1rem);
}

/* === MAIN ======= */

main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

@media (max-width: 1024px) {
  main {
    margin-bottom: 4.4rem;
  }
}

/* === SECTIONs ======= */

section {
  background-image: var(--gradient);
  border-radius: 1rem;
  padding-top: 0.4rem;
}

main section:nth-child(1) {
  animation: fromLeftToRight .8s;
}

main section:nth-child(2) {
  animation: fromRightToLeft 1s;
}

main div {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  background-color: var(--bg-section);
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;

  border-radius: 0.8rem;
}

section header h2 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 160%;
  letter-spacing: -0.047rem;
}

section header p {
  line-height: 160%;
  letter-spacing: -0.018rem;
  color: #a1a1aa;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;

  list-style: none;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

section ul img {
  width: 9rem;
  height: 12rem;
  border-radius: 0.8rem;
}

/* Sections Games */

body.main-games main#games section:nth-child(2) ul img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 1px solid #443e54;
}

body.main-games main#games {
  display: flex;
}

body.main-games main#movies {
  display: none;
}

body.main-games main#musics {
  display: none;
}

/* Sections Movies */

body.main-movies main#movies {
  display: flex;
}

body.main-movies main#games {
  display: none;
}

body.main-movies main#musics {
  display: none;
}

/* Sections Musics */

body.main-musics main#musics {
  display: flex;
}

body.main-musics main#games {
  display: none;
}

body.main-musics main#movies {
  display: none;
}

main#musics section:nth-child(2) {
  margin-bottom: 4.8rem;
}

main#musics section:nth-child(2) ul li {
  width: 100%;
}

main#musics section ul li a.music {
  display: flex;
  align-items: center;
  gap: 1rem;

  text-decoration: none;
  color: black;
  font-weight: 600;

  background-color: #1db954;
  padding: 1rem;
  border-radius: .8rem;
}

main#musics section:nth-child(2) ul li:hover {
  transform: scale(1.05);
}

/* === Animations ======= */

@keyframes fromTopToBottom {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRightToLeft {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}